@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body doesn't bounce on mobile */
html,
body {
  background-color: #0f0f0f;
  color: white;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

/* Scrollbar reset */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 10px;
}

/* Layout padding fix */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
